@using PortfolioWebAssem.Models;
@using PortfolioWebAssem.Models2;
@using System.Text.RegularExpressions

@inject HttpClient httpClient;


<div class="container-fluid">
	<div class="row">

		@*---------------LEFT COLUMN---------------*@
		<div class="col-4 d-flex flex-column align-items-center">

			@*----------SEARCH BY----------*@
			<div class="d-block text-center">

				<span>Search for artist by:</span>
				<div class="container" style="">
					<div class="row vertical-align"  >
						<div>
							<input class="" type="radio" id="artist" checked="@(artistSearchSetting == "searchByArtist")" name="searchSetting" @onchange="@(() => {artistSearchSetting="searchByArtist"; artistSearchPromptString = "Search for an artist to begin fetching song snippets"; resetArtistListComponent();})">
							<label class="mx-1" for="artist">Artist name</label>
						</div>
						<div>
							<input type="radio" id="songTitle" checked="@(artistSearchSetting == "searchBySongTitle")" name="searchSetting" @onchange="@(() => {artistSearchSetting="searchBySongTitle"; artistSearchPromptString = "Search for a song title to begin fetching song snippets from that artist"; resetArtistListComponent(); startQuizButtonVisibility="hidden";})">
							<label class="mx-1" for="songTitle">Song title</label>
						</div>
					</div>
				</div>
			</div>

			@*----------SLIDERS----------*@
			<div class="d-block text-center my-3">

				<div style="margin: 5px 0;">
					<span>Number of songs to fetch: </span>
					<div style="margin: 5px 0;" class="slidecontainer">
						<input type="range" min="1" max="50" @bind="numberOfSongsToFetch" class="slider">
						<span style="position:absolute; margin-left:10px">@numberOfSongsToFetch</span>
					</div>

					<span>Number of songs to play: </span>
					<div style="margin: 5px 0;" class="slidecontainer">
						@if (numberOfSongsToFetch < numberOfSongsSelected)
							{
								numberOfSongsSelected = numberOfSongsToFetch;
							}
						<input type="range" min="1" max="@numberOfSongsToFetch" @bind="numberOfSongsSelected" class="slider">
						<span style="position:absolute; margin-left:10px">@numberOfSongsSelected</span>
					</div>
				</div>
			</div>

			<style>
				.form-switch label{
					display: flex;
					width: auto;
					white-space:normal;
					align-items: center;
				}
				.form-switch {
					padding: 0;
				}

				.form-check-input {
					width: 0;
				}
			</style>
			@*----------SETTINGS----------*@
			<div class="d-block justify-content-center">

				<div class="form-check form-switch ">
					<input class="form-check-input" style="margin-left: 25px; margin-right: 5px" type="checkbox" id="startOnly" @bind=@Settings["startOnly"]>
					<label class="form-check-label" for="startOnly">Starting lines only</label>
				</div>
				<div class="form-check form-switch ">
					<input class="form-check-input " style="margin-left: 25px; margin-right: 5px" type="checkbox" id="repeatsCheck" @bind=@Settings["repeatsOnly"]>
					<label class="form-check-label" for="repeatsCheck">Most repeated lines only</label>
				</div>
				<div class="form-check form-switch ">
					<input class="form-check-input " style="margin-left: 25px; margin-right: 5px" type="checkbox" id="genericsCheck" @bind=@Settings["noGenericStarts"]>
					<label class="form-check-label" for="genericsCheck">No generic starts (I, me, etc.)</label>
				</div>
				<div class="form-check form-switch ">
					<input class="form-check-input " style="margin-left: 25px; margin-right: 5px" type="checkbox" id="infiniteCheck" @bind=@Settings["infiniteMode"]>
					<label class="form-check-label" for="infiniteCheck">Infinite mode</label>
				</div>
				<div class="form-check form-switch ">
					<input class="form-check-input " style="margin-left: 25px; margin-right: 5px" type="checkbox" id="???Check" @bind=@Settings["???"]>
					<label class="form-check-label" for="???Check">???</label>
				</div>
				@*------------------------------------*@
			</div>
		</div>

		@*---------------MIDDLE COLUMN---------------*@
		<div class="col-4">
			@* MAKE THIS GO INVISIBLE ONCE SEARCH BUTTON IS PRESSED *@
			<div class="d-flex justify-content-center">
				<span class="text-center" style="visibility: @artistSearchPrompt ;">@artistSearchPromptString</span>
			</div>
			<br />

			<div class="d-flex justify-content-center">
				<br />
				@* <form @onsubmit="searchButton"> *@
				<input @bind="userInputBandName"  />
				<button @onclick="searchButton" class="btn btn-outline-light btn-sm">Search</button>
				@* </form> *@
			</div>

			<br />
			<div id="SearchResultsContainer" class="d-flex justify-content-center">
				@* TODO - make a grid instead of list *@
				<ul>
					@if (artistSearchSetting == "searchByArtist")
					{
						@foreach (Artist artist in MyArtistList)
						{
							<li class="my-3">
								<button @onclick="() => chooseButton(artist)" class="btn btn-outline-light btn-sm">Choose</button>
								<div class ="d-inline" style="@styleForArtistList(artist.IsSelected)">
									@artist.Name
								</div>
							</li>
						}
					}

					@if (artistSearchSetting == "searchBySongTitle")
					{
						@foreach(Recording recording in MyRecordingList)
						{
							<li>
								<button @onclick="() => chooseButton(recording)" class="btn btn-outline-light btn-sm">Choose</button>
								<div class="d-inline" style="@styleForArtistList(recording.IsSelected)">
									@recording.title by @recording.artistcredit.First().name
								</div>
							</li>
						}
					}
				</ul>


			</div>
		</div>

		@*---------------RIGHT COLUMN---------------*@
		<div class="col-4" style="pointer-events: none; visibility: @rightDivVisibility">
			@*pointer-events: none is to fix div overlapping the search button - a problem on phones*@
			@*MAKE VISIBLE ONLY WHEN selectedArtist.Name.Size>0*@
			<span class="d-flex justify-content-center" style="visibility: @fetchingLyricsHeading">Fetching lyrics for @myClient.NewArtistName</span>
			
			<div id="songsFoundContainer" class="d-flex justify-content-center my-3">
				@if(songList.Count>0){
					<ul>
						@foreach (SongDetails songInfo in songInfos)
						{
							<li>
								@songInfo.SongName
							</li>
						}
					</ul>
				}
			</div>
		</div>

	</div>
</div>







@code {
	string artistSearchPromptString = "Search for an artist to begin fetching song snippets";
	int numberOfSongsToFetch = 50;
	int numberOfSongsSelected = 10;

	public List<Artist> MyArtistList { get; set; } = new();
	public List<Recording> MyRecordingList { get; set; } = new();

	[Parameter]
	public EventCallback<List<SongDetails>> setSongs { get; set; }

	[Parameter]
	public string startQuizButtonVisibility { get; set; }

	private Artist selectedArtist = new();

	private string userInputBandName = "";
	string artistSearchPrompt = "visible";
	string fetchingLyricsHeading = "hidden";
	string rightDivVisibility = "hidden";

	public string artistSearchSetting { get; set; } = "searchByArtist";

	public Dictionary<string, bool> Settings = new Dictionary<string, bool>
	{
		{ "startOnly" , false},
		{ "repeatsOnly", false },
		{ "noGenericStarts", false },
		{ "infiniteMode", false},
		{ "???", false}
	};

	private async Task searchButton()
	{
		MyArtistList.Clear();
		MyRecordingList.Clear();
		if (artistSearchSetting == "searchByArtist")
		{
			MyArtistList = await MusicbrainzAPIClient.fetchNPossibleArtists(userInputBandName, 10);
		}
		if (artistSearchSetting == "searchBySongTitle")
		{
			MyRecordingList = await MusicbrainzAPIClient.fetchNPossibleSongTitles(userInputBandName, 20);
		}
		foreach (var pair in Settings)
		{
			Console.WriteLine($"{pair.Key}: {pair.Value}");
		}
	}

	GeniusAPIClient myClient = new();
	List<string> songList = new();
	List<SongDetails> songInfos = new();
	public string artistId = "";


	private async Task chooseButton(Object input)
	{
		artistSearchPrompt = "hidden";
		fetchingLyricsHeading = "visible";
		rightDivVisibility = "visible";
		songInfos.Clear();
		setSongs.InvokeAsync(songInfos);

		//Chose to search by song title
		if (input is Recording recording)
		{
			myClient.NewArtistName = recording.artistcredit[0].name;
			artistId = await myClient.GetArtistId(recording);
			Console.WriteLine($"ArtistID: {artistId}");
		}

		//Chose to search by artist
		if (input is Artist artist)
		{
			myClient.NewArtistName = artist.Name;
			selectedArtist.IsSelected = false;
			selectedArtist = artist;
			selectedArtist.IsSelected = true;
			artistId = await myClient.GetArtistId(artist.Name);
			Console.WriteLine($"ArtistID: {artistId}");
		}

		//use that id to retrieve list of X amount of songs - 50 for now
		songList = await myClient.GetSongTitles(artistId, 50);

		//print all songs to console for testing
		foreach (string songTitle in songList)
		{
			Console.WriteLine(songTitle);
		}

		//randomise
		songList = songList.OrderBy(_ => Guid.NewGuid()).ToList();
		List<string> lyricSnippet = new();
		//ID was wrong because I was using lyricSnippet.Count() - always 10. - replaced with int count below
		int count = 0;
		foreach (string songTitle in songList)
		{
			// Console.WriteLine($"{artist.Name}, {songTitle}");
			if (artistId != "")
			{
				lyricSnippet = await LyricsAPIClient.FetchLyricsAsync(myClient.NewArtistName, songTitle);
				if (lyricSnippet.Count == 10)
				{
					SongDetails thisSongInfo = new(count, songTitle, lyricSnippet);
					songInfos.Add(thisSongInfo);
					StateHasChanged();
				}
				if (songInfos.Count == 10)
				{
					await setSongs.InvokeAsync(songInfos);
					return;
				}
				count++;
			}
		}
	}

	private string styleForArtistList(bool isSelected)
	{	
		if (isSelected)
		{
			return "color:red";
		}
		return "color:rgba(255, 255, 255, 0.87)";
	}

	public void resetArtistListComponent()
	{
		userInputBandName = "";
		artistSearchPrompt = "visible";
		resetLeftDiv();
		resetRightDiv();
	}

	public void resetRightDiv()
	{
		fetchingLyricsHeading = "hidden";
		rightDivVisibility = "hidden";
		startQuizButtonVisibility = "hidden";
		songInfos.Clear();
		MyArtistList.Clear();
		MyRecordingList.Clear();
		artistId = "";
		setSongs.InvokeAsync(songInfos);
	}

	public void resetLeftDiv()
	{
		foreach (var pair in Settings)
		{
			Settings[pair.Key] = false;
		}
		numberOfSongsToFetch = 50;
		numberOfSongsSelected = 10;
	}

}

